<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>623801683545-5v4of0fvmcgjavg3dsgkr9oq1g716t32.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.623801683545-5v4of0fvmcgjavg3dsgkr9oq1g716t32</string>
	<key>API_KEY</key>
	<string>AIzaSyCO9KoTzbuiRihwiudJPp3hqnikFzEjV5Y</string>
	<key>GCM_SENDER_ID</key>
	<string>623801683545</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.caelum.Ankagramm</string>
	<key>PROJECT_ID</key>
	<string>ankagramm</string>
	<key>STORAGE_BUCKET</key>
	<string>ankagramm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:623801683545:ios:b1488a46eb909f9aa1ab48</string>
</dict>
</plist>